{%  extends 'accounts/main_template.html' %}
{% block title %}{% endblock title %}
{% block content %}
<div class="container my-5">
    <div class="row ">
        <h3>Welcome <span class="text-capitalize">{{request.user|capfirst}}</span></h3>
   

        <div class="col-sm-2 border-end">
        
        </div>

        <div class="col-sm-8 offset-sm-1 text-center">

            <h3>Password Changed Succesfully !!!</h3>
            <span>You can proceed to the log in page<a class="dropdown-item" href="{% url 'login' %}">Login</a></span>
        </div>
            <iframe src="https://giphy.com/embed/ibo1Le3mOqHE3PQTtk" width="200"height="200" frameborder="0"
            class="giphy-embed" allowfullscreen>

            </iframe>
    </div>
</div>


{% endblock content%}